.background::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  height: 100px;
  background-image: linear-gradient(180deg, #edf3fb -0.6%, #ffffff 1000%);
  background-attachment: fixed;
  clip-path: ellipse(53% 60% at 50% 100%);
  z-index: -1;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(180deg, #edf3fb -0.6%, #ffffff 100%);
  background-color: white;
  mix-blend-mode: normal;
  margin-top: 61px;
  padding-top: 2.76rem;
}

.background > h1 {
  margin-bottom: 1.6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.178;
  /* identical to box height */

  color: #000000;
}

.background > p {
  margin-bottom: 4rem;
  max-width: 39.9rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.571;
  /* or 157% */
  text-align: center;
  color: #3d5154;
}

.background > button {
  width: 14.3rem;
  height: 4rem;
  background: #30aabc;
  border-radius: 3px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8.1rem;
}

.button_text {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.142;
  margin-right: 1.5rem;
}

.background > button > img {
  width: 2.2rem;
  height: 2.2rem;
}
.subfooter {
  display: flex;
  max-width: 97.1rem;
}

.copyright {
  margin: 2.75rem auto 3rem;
  width: 97.1rem;
  display: flex;
  justify-content: space-between;
}

.copyright > p {
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2;
  /* identical to box height, or 200% */

  color: #767676;
}

.copyright > img:not(:last-child) {
  margin-right: 1rem;
}
