.container {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
  background-color: #ffffff;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu1-title {
  padding-bottom: 2.3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.178;
  /* identical to box height */

  color: #000000;
}

.menu1-subtitles {
  display: flex;
  padding-bottom: 5.4rem;
}

.menu1-subtitle {
  padding-bottom: 1.05rem;
  width: 6.9rem;
  border-bottom: 0.3rem solid #82b5a5;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.142;
  text-align: center;

  color: #000000;
  cursor: pointer;
}

.no-border {
  border-bottom: 0.3rem solid #f4f4f4;
  padding-left: 0.1rem;
}

.menu-button {
  margin-bottom: 1.7rem;
  background-color: transparent;
  border: 0.1rem solid #82b5a5;
  border-radius: 0.2rem;
  width: 7.2rem;
  height: 2.6rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.166;
  /* identical to box height */

  text-align: center;

  color: #82b5a5;
}

.header2 {
  padding-bottom: 1rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.833;
  /* identical to box height */

  color: #000000;
}

.h2-text {
  margin-bottom: 3rem;
  align-self: flex-start;
  width: 39.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.642;
  /* or 164% */

  color: #3d5154;
}

.h2-links-wrapper {
  align-self: flex-start;
  display: flex;
}

.h2-links {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.642;
  /* identical to box height, or 164% */

  color: #30aabc;
  cursor: pointer;
}

.play-icon {
  align-self: center;
  margin-right: 0.4rem;
}

.h2-link-padding-right {
  padding-right: 3.1rem;
}

.header4 {
  margin-top: 5.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.176;
  /* identical to box height */

  color: #000000;
}

.header4-text {
  margin-top: 1rem;
  margin-bottom: 3rem;
  align-self: flex-start;
  width: 39.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.642;
  /* or 164% */

  color: #3d5154;
}

.h4-link {
  align-self: start;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.642;
  /* identical to box height, or 164% */

  color: #30aabc;
  cursor: pointer;
}

.illustration2_container {
  flex: 0 1 58.8rem;
  margin-left: 3.31rem;
}

.illustration2 {
  width: 100%;
  height: auto;
  align-self: flex-end;
  margin-bottom: 4.1rem;
}

.center {
  align-self: center;
}
